OMDB_API_KEY=123456 #Set your own API key <your_personal_api_key>
OMDB_BASE_URL=http://www.omdbapi.com/
DATABASE_URL="postgresql://neondb_owner:npg_Akdafjngljabgjkfbglkjfnagmkdladjfhbalkjfarequire&channel_binding=require'"
NEXT_PUBLIC_USERNAME=myName
NEXT_PUBLIC_APP_URL="http://localhost:3000"